@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');

.App {
  text-align: center;
}

.flexParent{
  /* flex-direction: column;
  display: flex;
  justify-content: center; */
  text-align: center;
}

.middle {
    /* flex-direction: column; */
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  width: 15px;
}

.innerMiddle {
  align-self: center;
}
.wingButton {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.wingButtonLogo {
  width: 25vw;
}
/* 
.wingButton .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #13202C;
  color: #f5f5f5;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;*/
  
  /* Position the tooltip *//*
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
  text-transform: capitalize;
  
} */

.wingButton .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #13202C;
  color: #f5f5f5;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 40%;
  left: 110%;
  text-transform: capitalize;
}

.wingButton .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #13202C transparent transparent;
}


.wingButton:hover .tooltiptext {
  visibility: visible;
}

.empty {
  height: 5vh;
}

.socialLogo {
  height: 5vh;
  width: 5vh;
  font-size: 5vh;

}
.sub {
  font-family: 'Lily Script One', cursive;
  color: #13202C;
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-bottom: 5vh;
}

.picksosmed {
  text-align: left;
  padding-left: 50%;
  transform: translate(-20%, 0);
  font-family: Montserrat;
  font-style: normal;
  font-size: 12px;
  /* text-align: center; */
  letter-spacing: -0.015em;
}

.nav {
  background-color: None;
  opacity: 0.5;
}

.App-logo {
  margin-top: 50px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
